<h1> View All Service Records:  </h1>
    <%= button_to "Create A Record Here!", new_userbike_service_record_path, method: "get" %>
 <%= render "index" || "Oops! You haven't created any records!" %> 
 
