<h1> Welcome to Bike Trader! </h1> <br>
<p> Log In or Sign Up Below </p><br>


<%= button_to login_path , method: "get" do %>
  Login 
<% end %>

<%= button_to new_user_path, method: "get" do %>
  Signup 
<% end %>

<%= button_to 'Login With Google', "/auth/google_oauth2", class: 'nav-link active' , method: "post" %>