<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Welcome to Bike Trader</h5>
    <p class="card-text">Click the links below to login or signup</p>
    <a href="#" class="btn btn-primary">Login      </a>
    <a href="#" class="btn btn-primary">     Signup</a>
  </div>
</div>